<footer class="footer" style="width: 100%;">
    <div class="footer-content">
        <div class="toko" data-aos="fade-up">
            <h4>Cihuy Store</h4>
            <p>Belanja dengan harga murah, mudah, dan cepat</p>
        </div>
        <div class="menu" data-aos="fade-up" data-aos-delay="200">
            <h4>Menu</h4>
            <p><a href="about.html" class="text-white text-decoration-none">Tentang Kami</a></p>
            <p><a href="contact.html" class="text-white text-decoration-none">Hubungi Kami</a></p>
        </div>
        <div class="bantuan" data-aos="fade-up" data-aos-delay="400">
            <h4>Bantuan</h4>
            <p><a href="faq.html" class="text-white text-decoration-none">FAQ</a></p>
            <p><a href="support.html" class="text-white text-decoration-none">Support</a></p>
        </div>
        <div class="contact" data-aos="fade-up" data-aos-delay="600">
            <h4>Contact</h4>
            <p>Email: support@cihuystore.com</p>
            <p>Phone: +62 123 4567</p>
        </div>
    </div>
    <div class="icons" data-aos="fade-up" data-aos-delay="800">
        <i class="fab fa-google"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
    </div>
    <p class="copy">&copy; 2024 Cihuy Store. All rights reserved.</p>
</footer>